html {
  scroll-padding-top: 7vh;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: thin;
  color: #FFF;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.direita {
  margin: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100vh;
  padding: 8vh;
  background-image: url('../assents/Login.jpg');
  background-size: cover;
}

.direita img {
  position: absolute;
  width: 2vw;
  top: 0;
  right: 0;
  margin: 1.5rem;
}

img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.esquerda {
  display: flex;
  width: 55%;
  height: 115vh;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(-40deg, #ffd902, #f7db40);
}

.cadastro {
  color: #ffff;
  position: absolute;
  top: 30px;
  left: 230px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
}

.texto_input {
  color: #f57600;
  position: absolute;
  top: 110px;
  left: 30px;
  font-size: 20px;
  font-weight: 100;
}

.texto_email {
  color: #f57600;
  position: absolute;
  top: 120px;
  left: 360px;
  font-size: 20px;
  font-weight: 100;
}

.texto_senha {
  position: absolute;
  top: 280px;
  left: 30px;
  color: #f57600;
  font-size: 20px;
  font-weight: 100;
}

.texto_confirmar {
  position: absolute;
  top: 280px;
  left: 360px;
  color: #f57600;
  font-size: 20px;
  font-weight: 100;
}

.personagem {
  position: absolute;
  top: 370px;
  left: 250px;
  color: #f57600;
  font-size: 20px;
  font-weight: 100;
}

.select {
  width: 300px;
  height: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFF;
  border: 1px solid #000000;
  font-size: 15px;
  padding-right: 20px;
  border-radius: 15px;
  position: absolute;
  top: 420px;
  left: 200px;

  font-size: 15px;
  font-weight: 100;
}

.input {
  position: absolute;
  top: 172px;
  left: 30px;
  border: none;
  padding: 5px;
  width: 20vw;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;
  display: flex;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.input_email {
  position: absolute;
  left: 360px;
  top: 170px;
  border: none;
  padding: 5px;
  width: 20vw;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;

  display: flex;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.input_senha {
  position: absolute;
  top: 325px;
  left: 30px;

  border: none;
  padding: 5px;
  width: 20vw;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;

  display: flex;
  border-bottom: 5px solid rgb(0, 0, 0);
}

input:hover {
  border-radius: 10px;
}

.input_confirmar {
  position: absolute;
  top: 325px;
  left: 360px;

  border: none;
  padding: 5px;
  width: 20vw;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;
  display: flex;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.btn {
  position: absolute;
  top: 480px;
  left: 200px;
  height: 50px;
  background-color: #00d2f7;
  width: 300px;
  border: 1px solid #00d2f7;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img_seta {
  position: absolute;
  width: 3vw;
  top: 0;
  left: 0;
  margin: 1.5rem;
}
#div_erro_nome{
color: red;
position: absolute;
width: 500px;
height: 300px;
top: 195px;
font-size: 15px;
left: 35px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifx;
}
#campo_email{
  color: red;
position: absolute;
width: 500px;
height: 300px;
top: 205px;
font-size: 15px;
left: 365px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifx;

}
#span_senha{
  color: red;
position: absolute;
width: 500px;
height: 300px;
top: 365px;
font-size: 15px;
left: 35px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifx;

}
#span_confirma_senha{
  color: red;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 365px;
  font-size: 15px;
  left: 365px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifx;
  
}

.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}