*{
    padding: 0;
  margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

aside{
    color: #fff;
    width: 300px;
    padding-left: 20px;
    height: 100vh;
    background:linear-gradient(-65deg , 	#FFD700 ,	 	#FFD700);
    
}
aside a{
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
aside a:hover{
    color:#FFA500;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
 
}
aside a i{
    margin-right: 5px;
}
aside a:hover::after{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
}
aside a:hover::before{
 content: "";
 position: absolute;
 background-color: transparent;
 top: 38px;
 right: 0;
 height: 35px;
 width: 35px;
 border-top-right-radius: 18px;
 box-shadow: 0 -20px 0 0 #fff;   
}
aside p{
    margin: 0;
    padding: 40px 0;
}
body{
    font-family: "Roboto";
    width: 100%;
    height: 100vh;
    margin: 0;
}
.social{
    height: 0;
}
.social i::before{
    width: 12px;
    height: 12px;
    font-size: 14px;
    position: fixed;
    color: #fff;
    background:linear-gradient(#515bd4, #8134af, #dd2a7b, #feda77,  #f58529);
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked * .slider{
    background-color: white;
}
input:checked * .slider::before{
    background-color: black;
}
input:checked * .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked * .slider::before{
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}
.toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}
.banner{
    background-color: 	#FFD700;
    background-size: cover;
  
    }
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        
    }
    form{
        position: relative;
        top: -600px; 
        width: 450px;
        height: 440px;
        background-color: #fff;
        border-radius: 10px;
    }
    form h1{
        text-align: center;
        color: #FFA500;
        font-size: 25px;
        font-weight: 100;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
.sub_title{
    font-weight: 600;
    margin: 5px 0;
    color: #000;
    
  }
  .form_group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
  }
  .form_style{
    outline: none;
    border: 2px solid #000;
    box-shadow: 3px 4px 0px 1px #000;
    width: 350px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  .form_style:focus{
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
  }
  .btn{
    padding: 15px;
    margin: 10px 70px;
    width: 280px;
    font-size: 15px;
    background: linear-gradient(-45deg, #FF8C00 ,  #FFFF00, 	#FFD700, #FFA500);
    border-radius: 30px;
    font-weight: 200;
    border:none;
    font-family: 'Raleway', sans-serif;

  }
  .mural{
    position: absolute;
    top: 600px;
    left: 460px;
  }

  .texto_mural{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 200;
   margin-left: 300px;
position: absolute;
top: 540px;
left: 230px;
  }
  .div-results {
    left: 20px;
    width: 150%;
  }
  
  .div-results .feed-container {
    background-color: #67d451;
    border-radius: 10px;
    margin-bottom: 80px;
    height: 150px;
  }
  
.mural .div-buttons {
    display: flex;
    justify-content: flex-end;
   
  }
  
  .mural .div-buttons > * {
    margin-left: 30px;
  }
  .mural button{
    margin: 0 10px;
    float: right;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
  }
  .atendimento_telefonico{
    width: 240px;
    position: absolute;
    right: 10px;
    top: 50px;
  }