
html {
  scroll-padding-top: 7vh;
  scroll-behavior: smooth;
}
body {
  scrollbar-width: thin;
  color: #FFF;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.conteudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100vh;
}

.direita {
  margin: 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100vh;
  padding: 8vh;
  background-image: url('../assents/Simpsons_Login.jpg');
background-size: cover;
}

.direita img {
  position: absolute;
  width: 2vw;
  top: 0;
  right: 0;
  margin: 1.5rem;
}

.direita img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.esquerda {
  display: flex;
  width: 50%;
  height: 115vh;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(-40deg , #ffd902 , #f7db40);
}
.cadastro{
  color: #ffff;
  margin-top: 180px;
  margin-left: 220px;
  font-size:30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
}

.texto_input{
  color: #f57600;
  margin-left: -420px;
  margin-top: 200px;
  font-size: 15px;
  font-weight: 100;
}
.texto_email{
  color: #f57600;
position: absolute;
top: 220px;
left: 150px;
  font-size: 20px;
  font-weight: 100;
}
.texto_senha{
position: absolute;
top: 320px;
left: 150px;
color: #f57600;
font-size: 20px;
  font-weight: 100;
}

.input{
 position: absolute;
 top: 370px;
 left: 150px;
  border: none;
  padding: 5px;
  width:400px;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;
  border-bottom: 5px solid rgb(0, 0, 0);
  display: flex;
}
.input_email{
  position: absolute;
 top: 270px;
 left: 150px;
  border: none;
  padding: 5px;
  width:400px;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;
  border-bottom: 5px solid rgb(0, 0, 0);
  display: flex;
}
.input_senha{
 position: absolute;
 top: 425px;
 left: 30px;

  border: none;
  padding: 5px;
  width:20vw;
  height: 20px;
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Mulish';
  display: flex;
}
.input:hover{
  border-radius: 8px;
}

.btn{
position: absolute;
top: 450px;
left: 200px;
height: 50px;
background-color: #00d2f7;
width:300px;
border: 1px solid #00d2f7;
border-radius: 30px;
font-size: 15px;
font-weight: 500;
color: #fff; 
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img_seta{
  position: absolute;
  width: 3vw;
  top: 0;
  left: 0;
  margin: 1.5rem;
}
.span_conta{
  color: black;
  position: absolute;
  width: 200px;
}
#campo_email{
  color: red;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 305px;
  font-size: 15px;
  left: 155px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifx;
  
}
#campo_senha{
  color: red;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 410px;
  font-size: 15px;
  left: 155px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifx;
  
}